body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #121212; /* 다크 모드 배경색 */
  color: #e0e0e0; /* 다크 모드 텍스트 색상 */
}

header {
  background-color: #1f1f1f; /* 다크 모드 헤더 배경색 */
  padding: 10px 50px;
  color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 24px;
  margin: 10px 20px;
  justify-content: center;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

.page-title {
  font-size: 34px;
  margin: 20px;
  padding: 30px;
  justify-content: center;
  text-align: center;
}

main {
  padding: 50px 100px;
  margin: 20px;
  background-color: #1f1f1f; /* 다크 모드 메인 배경색 */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* 다크 모드 그림자 */
}

/* 전역 여백 설정 */
.page-content {
}
