.markdown_container {
  display: flex;
  padding: 5px;
}

/* 마크다운 콘텐츠 */
.markdown_content {
  color: var(--gray100); /* 텍스트 색상 */
  padding: 20px;
  max-height: 100vh;
  font-size: 14px;
  width: 80%;
}

.toc_container {
  border-left: 1px solid var(--gray700);
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh;
  width: 20%;
}

/* 마크다운 헤더 */
.md_header {
  display: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid var(--gray700);
}

.md_title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.md_date {
  font-size: 14px;
  color: var(--gray200);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.markdown_content h1,
.markdown_content h2,
.markdown_content h3,
.markdown_content h4,
.markdown_content h5,
.markdown_content h6 {
  line-height: 2;
  padding-top: 30px;
}

.markdown_content h1,
.markdown_content h2 {
  color: var(--point);
}
.markdown_content h3 {
  color: var(--main-1);
}
.markdown_content a {
  color: var(--blue);
}
.markdown_content pre {
  font-size: x-small; /* Adjust the font size */
  white-space: pre-wrap; /* 줄 바꿈 유지 */
  word-wrap: break-word; /* 긴 단어 줄 바꿈 */
  overflow-x: auto; /* 수평 스크롤 활성화 */
  /* 스크롤바 숨기기 */
  ::-webkit-scrollbar {
    display: none;
  }
  background-color: var(--gray700);
  padding: 10px;
}

.markdown_content code {
  font-size: small; /* Adjust the font size */
  overflow-x: auto; /* 수평 스크롤 활성화 */
  white-space: pre-wrap; /* 줄 바꿈 유지 */
  word-wrap: break-word; /* 긴 단어 줄 바꿈 */
  /* 스크롤바 숨기기 */
  ::-webkit-scrollbar {
    display: none;
  }
  background-color: var(--gray700);
}
.markdown_content img {
  max-width: 100%; /* Ensure images do not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove inline spacing */
  margin: 0 auto; /* Center images if needed */
}
.markdown_content hr {
  border: 0.5px solid var(--gray700);
}

.markdown_content div {
  overflow-x: auto;
}
.markdown_content table {
  border-collapse: collapse; /* 테두리 겹침 제거 */
}
.markdown_content th,
.markdown_content td {
  border: 1px solid var(--gray500); /* 테두리 색상 설정 */
  padding: 5px; /* 셀 안쪽 여백 */
  text-align: left; /* 텍스트 정렬 */
  word-wrap: break-word; /* 긴 단어 줄바꿈 */
  font-size: small;
}
.markdown_content th {
  border-bottom: 3px solid var(--gray700);
}

@media (max-width: 768px) {
  .markdown_content pre {
    font-size: xx-small;
  }
  .markdown_content code {
    font-size: x-small; /* Adjust the font size */
  }
  .markdown_content {
    color: var(--gray100); /* 텍스트 색상 */
    padding: 0;
    // overflow-y: auto;
    max-height: 100vh;
    font-size: 12px;
    width: 100%;
    margin: 0 10px;
  }
  .toc_container {
    display: none; /*Hide TOC on small screens*/
  }
  .markdown_content th,
  .markdown_content td {
    font-size: x-small;
  }
}
