.markdown-container {
  display: flex;
  height: 100vh; /* Full height */
  overflow: hidden; /* Prevent scrolling on the container */
}

.toc-container {
  border-left: 1px solid #2f2f2f;
  padding: 10px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh;
  width: 20%;
}

/* 마크다운 헤더 */
.md-header {
  display: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #2f2f2f;
  line-height: 1.5;
}

.md-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.md-date {
  font-size: 14px;
  color: #b0a3a6;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

/* 마크다운 콘텐츠 */
.markdown-content {
  color: #e0e0e0; /* 텍스트 색상 */
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 100vh;
  line-height: 1.5;
  font-size: 14px;
  width: 80%;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  line-height: 2;
  padding-top: 30px;
}

.markdown-content h1,
.markdown-content h2 {
  color: #fc4d71;
}
.markdown-content h3 {
  color: #ff9a8b;
}
.markdown-content a {
  color: #b0a3a6;
}
.markdown-content pre {
  font-size: x-small; /* Adjust the font size */
}

.markdown-content code {
  font-size: small; /* Adjust the font size */
}
.markdown-content img {
  max-width: 100%; /* Ensure images do not exceed the container width */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove inline spacing */
  margin: 0 auto; /* Center images if needed */
}

@media (max-width: 768px) {
  .markdown-content pre {
    font-size: xx-small;
  }
  .markdown-content code {
    font-size: x-small; /* Adjust the font size */
  }
  .markdown-content {
    color: #e0e0e0; /* 텍스트 색상 */
    padding: 0;
    overflow-y: auto;
    max-height: 100vh;
    line-height: 1.5;
    font-size: 12px;
  }
}
