header {
  background-color: var(--gray700); /* 다크 모드 헤더 배경색 */
  padding: 5px 20px; /* 양쪽 여백 */
  color: var(--gray200);
  display: flex;
  justify-content: center; /* 래퍼를 가운데 정렬 */
  position: fixed;
  top: 0;
  left: 0;

  height: 5%;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px; /* 최대 너비 설정 */
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

.header_title {
  justify-content: center;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  cursor: pointer;
}

.header_back_container {
  display: flex;
  align-items: center;
}

.header_logo {
  width: 60px;
  cursor: pointer;
}

.header-back {
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

.header_nav_menu {
  display: block;
  margin: 10px;
  cursor: pointer;
}

.header_nav_menu {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 0 10px; /* 작은 화면에서 양쪽 여백 줄이기 */
  }
  .header_logo {
    width: 45px;
  }
  .header_nav_item,
  .header_nav_menu {
    display: block;
    margin: 10px;
    cursor: pointer;
  }
}
