.toc_list {
  position: fixed;
  width: 250px;
  list-style: none;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
.toc_list li {
  margin-left: 0; /* Reset margin */
  margin-bottom: 7px;
}

.toc_list a {
  text-decoration: none; /* Remove underline */
  color: var(--gray200); /* Text color */
}

.toc_list a:hover {
  color: var(--point); /* Hover color */
}

.toc_list a:active {
  color: var(--point); /* Active color */
}
