@use "./reset.scss";

:root {
  --point: #fc4d71;
  --main-1: #ff99ac;
  --main-2: #ff9a8b;
  --gray900: #1f1a1b;
  --gray700: #2f2f2f;
  --gray500: #453b3d;
  --gray300: #67585b;
  --gray200: #b0a3a6;
  --gray100: #dfcfd2;
  --blue: #61b1e6;
  --background: #121212;
}
