*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;
  min-height: 100%;
}

// 텍스트 관련 요소 리셋
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

// 리스트 관련
ul,
ol {
  list-style: none;
}

// 링크 관련
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

// 미디어 요소
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

// SVG
svg {
  display: inline-block;
  max-width: 100%;
}

// 폼 요소
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

// 인용구
blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

// 테이블
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// 선택 영역
::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}
